@inject AuthenticationStateProvider AuthStateProvider
@inject NotificationService NotificationService
@inject DialogService DialogService
@inject TooltipService tooltipService
@inject DialogService DialogService
@inject ILocalStorageService LocalStorage
@inject INotifiRadzenServices NotifiRadzenServices
@inject ICorteDiscrepancia CorteDiscrepanciaDataService
@inject IRolLogic RolLogicService

@page "/cortediscrepancia"

<FiltroMaestras OnChangepais="((int p) => this.valuepais = p)"
                OnChangeempresa="((int e) => this.valueempresa = e)"
                OnChangecentros="((int c) => this.valuecentros = c)"
                OnChangedivision="((int d) => this.valuedivision = d)"
                OnChangelineas="((int l) => this.valuelinea = l)" />


@if (filtrosextras && valuelinea > 0)
{
    <FiltrosAsentamientos idLinea="@valuelinea"
                          OnChangeClasificacion="((int idClasiVar) => this.idClasiVar = idClasiVar)"
                          OnChangeProducto="((int idProducto) => this.idProducto = idProducto)"
                          OnChangeSeccion="((int idSeccion) => this.idSeccion = idSeccion)" />
}
@if (valuelinea != 0)
{
    <FiltroGrupoTurno idEmpresa="@valueempresa" OnChangeGrupo="((string g) => this.grupo = g)" OnChangeTurno="((string t) => this.turno = t)" />
}
@if (valuelinea != 0 && turno is not null)
{
    @*     Barra de filtro y opciones *@
    <RadzenCard Variant="Variant.Filled" Class="rz-my-4  rz-background-color-base-50">
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Start" JustifyContent="JustifyContent.Normal" Wrap="FlexWrap.Wrap">
            <RadzenColumn class="rz-ml-8">
                <RadzenLabel Text="Fecha" Component="DatePickerHourFormat" />
                <RadzenDatePicker @bind-Value=@fecha HourFormat="12" DateFormat="MM/dd/yyyy" Name="DatePickerHourFormat" Style="width:120px;" />
            </RadzenColumn>
            <RadzenColumn class="rz-ml-8">
                <RadzenButton ButtonType="ButtonType.Button" Icon="search" Variant="Variant.Flat" Visible=@((idSeccion>0 && filtrosextras)|| !filtrosextras) Text="Consultar" ButtonStyle="ButtonStyle.Success" Click=ConsultarCortes />
            </RadzenColumn>
            <RadzenColumn class="rz-ml-8" Visible=@(permisos["Division"])>
                <RadzenRow>
                    <RadzenText TextStyle="TextStyle.Caption"> Filtros:</RadzenText>
                </RadzenRow>
                <RadzenRow>

                    <RadzenCheckBox @bind-Value="@filtrosextrasvisual" TValue="bool" Change=@CambioFiltros />
                </RadzenRow>
            </RadzenColumn>
        </RadzenStack>
    </RadzenCard>
}

<RadzenCard Style=" padding: 0;" Class="rz-shadow-2 rz-mx-auto w-auto">


    <RadzenDataGrid Visible=@(data==1) Data="@listacortes" TItem="CortesVistaDTO"
                    AllowFiltering="true" FilterPopupRenderMode="PopupRenderMode.OnDemand"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" LogicalFilterOperator="LogicalFilterOperator.Or"
                    AllowColumnResize=true GridLines="DataGridGridLines.Both"
                    AllowSorting="true">

        <Columns>

            <RadzenDataGridColumn TItem="CortesVistaDTO" Property="Pnombre" Title="Producto" Sortable="false" Filterable=true Width="10%" Visible=!filtrosextras />
            <RadzenDataGridColumn TItem="CortesVistaDTO" Property="Vnombre" Title="Variable" Sortable="false" Filterable=true Width="15%" />
            <RadzenDataGridColumn TItem="CortesVistaDTO" Property="SNombre" Title="Sección" Sortable="false" Filterable=true Width="15%" Visible=!filtrosextras />
            <RadzenDataGridColumn TItem="CortesVistaDTO" Property="CdaccCorr" Title="Acción" Sortable="false" Width="20%" />
            <RadzenDataGridColumn TItem="CortesVistaDTO" Property="Cnombre" Title="Categoría" Sortable="false" Filterable=true Width="12%" />
            <RadzenDataGridColumn TItem="CortesVistaDTO" Property="Avalor" Title="Valor" Filterable=false Width="18%">
                <Template Context="valor">
                    @*  @($"{valor.Avalor}  {valor.Unombre}") *@
                    @if (valor.Avalor > valor.Rmax)
                    {
                        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center"  AlignItems="AlignItems.Start" Wrap="FlexWrap.Wrap">
                            <RadzenBadge BadgeStyle="BadgeStyle.Light" Shade="Shade.Lighter" class="unidad-badge" Text="@($"{valor.Avalor}  {valor.Unombre}")"
                                         MouseEnter="@((args) => tooltipService.OpenOnTheLeft(args,$"{@valor.Rmax} límite max." ,
                            new TooltipOptions{   Duration=1500,Style = "background-color: var(--rz-danger-light); color:var(--rz-base-800);"}))" />

                            <RadzenIcon Icon="warning" IconColor="@Colors.Danger" MouseEnter="@((args) => tooltipService.OpenOnTheRight(args,  $"V. Objetivo: {valor.Robj}",
                            new TooltipOptions{   Duration=1000,Style = "background-color: var(--rz-danger-light); color:var(--rz-base-800);"}))" />
                        </RadzenStack>
                    }
                    else
                    {
                        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center"  AlignItems="AlignItems.Start" Wrap="FlexWrap.Wrap">
                        <RadzenBadge BadgeStyle="BadgeStyle.Light" Shade="Shade.Light" class="unidad-badge" Text="@($"{valor.Avalor}  {valor.Unombre}")"
                                     MouseEnter="@((args) => tooltipService.OpenOnTheLeft(args,  $"{@valor.Rmin} límite min." ,
                        new TooltipOptions{   Duration=1500,Style = "background-color: var(--rz-warning-light); color:var(--rz-base-800);"}))" />

                        <RadzenIcon Icon="warning" IconColor="@Colors.Warning" MouseEnter="@((args) => tooltipService.OpenOnTheRight(args,$"V. Objetivo: {valor.Robj}",
                        new TooltipOptions{   Duration=1000,Style = "background-color: var(--rz-warning-light); color:var(--rz-base-800);"}))" />
                        </RadzenStack>
                    }

                </Template>
            </RadzenDataGridColumn>


            <RadzenDataGridColumn TItem="CortesVistaDTO" Property="CdisListo" Title="Estado" Sortable="true" Filterable="false" Width="10%">
                <Template Context="est">
                    @if (est.CdisListo)
                    {

                        <RadzenIcon Icon="done" Style="display: flex; justify-content: center; font-size:30px; font-weight: 800;" class="m-auto" IconColor="@Colors.Success" />
                    }
                    else
                    {
                        <RadzenStack Orientation="Orientation.Horizontal" Wrap="FlexWrap.Wrap">
                            <RadzenIcon Icon="info" IconColor="@Colors.Danger" Style="font-size:25px;" class="m-auto" />
                            <div class="m-auto">
                                <RadzenButton Icon="assignment_late" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Warning" Click=@( () => ShowDialog(est) )
                                MouseEnter="@((args) => tooltipService.OpenOnTheLeft(args, "Editar Corte",
                                new TooltipOptions{ Style = "background-color: var(--rz-warning-lighter);  color:var(--rz-base-800);", Duration=1000} ))" class="rz-border-radius-10 rz-shadow-2" />

                                <RadzenButton Icon="auto_stories" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Info" 
                                MouseEnter="@((args) => tooltipService.OpenOnTheLeft(args, "Libro de Novedades",
                                new TooltipOptions{   Duration=1000,Style = "background-color: var(--rz-info-lighter);  color:var(--rz-base-800);"}))" class="rz-border-radius-10 rz-shadow-2" />
                            </div>
                        </RadzenStack>
                    }

                </Template>

            </RadzenDataGridColumn>

        </Columns>
    </RadzenDataGrid>

</RadzenCard>

<RadzenText Visible="@(data==2)">
    <RadzenIcon Icon="warning" IconColor="@Colors.Warning" />
    No hay datos...
</RadzenText>

@if (loading)
{
    <Load />
}

@code {
    [CascadingParameter]
    private IEnumerable<Claim>? claims { get; set; }
    public List<CortesVistaDTO>? listacortes { get; set; } = new List<CortesVistaDTO>();
    public List<CategoriaDTO>? categorias { get; set; }

    bool loading = false; //motrar loading
    int data = 0; //1-motrar tabla de datos 2-no haydata
    bool filtrosextrasvisual = true; //motrar lfiltros extras
    bool filtrosextras = true; //motrar lfiltros extras

    //parametros retornado en el componente Hijo FiltroMaestra
    public int valuepais { get; set; } = 0;
    public int valueempresa { get; set; } = 0;
    public int valuecentros { get; set; } = 0;
    public int valuedivision { get; set; } = 0;
    public int valuelinea { get; set; } = 0;

    //parametros retornado en el componente Hijo FiltroAsentamientos
    public int idClasiVar { get; set; } = 0;
    public int idSeccion { get; set; } = 0;
    public int idProducto { get; set; } = 0;

    //parametros retornado en el componente Hijo FiltroGrupoTurno
    public string grupo { get; set; } = "";
    public string turno { get; set; } = "";


    DateTime fecha = DateTime.Now;
    Dictionary<string, bool> permisos = new Dictionary<string, bool>();
    public string? roleClaim { get; set; } //guardar el rol del usuario

    protected override async Task OnInitializedAsync()
    {
        await CreateData();
        permisos = RolLogicService.ListasRol(roleClaim);
        await GetCategorias();
    }

    private async Task CreateData()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user?.Identity is not null && user.Identity.IsAuthenticated)
        {
            claims = user.Claims;
        }
        //Obtner Rol
        roleClaim = claims.FirstOrDefault(c => c.Type.Contains("role"))?.Value;
    }

    public async Task ConsultarCortes()
    {
        data = 0;
        loading = true;
        string fecha1 = fecha.Date.ToString("yyyy-MM-dd");

        if (filtrosextras)
        {
            if (idClasiVar > 0 && idSeccion > 0 && idProducto > 0)
            {

                listacortes = await CorteDiscrepanciaDataService.GetCortesDiscrepanciaLineaFiltrado(turno, fecha1, valuelinea, idClasiVar, idSeccion, idProducto);
                data = listacortes.Count > 0 ? 1 : 2;
                NotificationService.Notify(NotifiRadzenServices.Notificacion("info", "", "Datos Actualizados"));
            }
            else
            {
                data = 1;
                NotificationService.Notify(NotifiRadzenServices.Notificacion("advertencia", "", "Seleccione los los filtros para consultar."));
            }
        }
        else
        {
            listacortes = await CorteDiscrepanciaDataService.GetCortesDiscrepanciaLinea(turno, fecha1, valuelinea);
            data = listacortes.Count > 0 ? 1 : 2;
            NotificationService.Notify(NotifiRadzenServices.Notificacion("info", "", "Datos Actualizados"));
        }
        loading = false;

    }
    async Task ShowDialog(CortesVistaDTO corteeditar)

    {
        DialogCorteDTO cortedialog = new DialogCorteDTO();
        CorteDiscDTO corte = new CorteDiscDTO();//corte para enviar y recibir en caso de edicion
        AsentumDTO asentamientoNuevo = new AsentumDTO();


        cortedialog = await DialogService.OpenSideAsync<DialogSideContent>(

           $"Registrar Corte: {corteeditar.Vnombre}",
           parameters: new Dictionary<string, object?>()
                                                {
                { "categorias", categorias },
                { "lmin",corteeditar.Rmin },
                {"lmax",corteeditar.Rmax},
                {"corteparametro", corte },
                {"rol", permisos["Centro"] }
                                            },
           options: new SideDialogOptions
               {
                   Position = DialogPosition.Right,
                   ShowMask = true,
                   CloseDialogOnOverlayClick = false
               });

        if (cortedialog is not null)
        {
            //asentamiento  fuera de rango
            var elemento = listacortes.First(a => a.IdAsenta == corteeditar.IdAsenta);

            if (cortedialog.CdisListo)
            {
                //crear nuevo asentamiento
               // asentamientoNuevo.IdInfoAse = corteeditar.IdInfoAse; //pasar id
                asentamientoNuevo.IdRango = corteeditar.IdRango;
                asentamientoNuevo.Avalor = cortedialog.Avalor;
                asentamientoNuevo.AisActivo = true;
                //elemento.AisActivo = false;// desactivar el anterior

               // listacortes.Add(asentamientoNuevo);//agrerar a la lista

            }
            //Registrar el corte desde el dto del dialog y el id del asentamiento
            corte = new CorteDiscDTO();
            corte.IdAsenta = corteeditar.IdAsenta;
            corte.IdCategori = cortedialog.IdCategori;
            corte.CdaccCorr = cortedialog.CdaccCorr;
            corte.CdisListo = cortedialog.CdisListo;
            // corte.AsentumDTONavigation = elemento;


        }
    }
    protected async Task GetCategorias()
    {
        categorias = await CorteDiscrepanciaDataService.GetCategorias();
    }
    private async Task CambioFiltros(bool value)
    {
        //Confirmación de actualización de consulta a cambiar modo de filtros
        if (filtrosextras && !value && listacortes.Count > 0)
        {

            var result = await DialogService.Confirm("Confirmación",
            "Si Activa/Desactiva los filtros, se eliminarán los registros cargados. ¿Está seguro/a?",
            new ConfirmOptions()
                {
                    OkButtonText = "Confirmar",
                    CancelButtonText = "Cancelar",
                    ShowClose = false,
                }

            );
            if (!result.Value)
            {
                filtrosextras = filtrosextrasvisual = !value;
            }
            else
            {
                filtrosextras = filtrosextrasvisual = value;
                await ConsultarCortes();
            }
        }
        else
        {
            filtrosextras = filtrosextrasvisual = value;
        }
    }

}